<% layout('layouts/boilerplate') -%>

<body>
  <h3>All listings</h3>
  <!-- <form action="/listings/new" method="get">
        <button>Create New Listing</button>
    </form> -->

  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1">
    <% for(let listing of allListings) { %>

    <a href="/listing/<%= listing._id %>" class="listing-link">
      <div class="card col listing-card">
        <img
          class="card-img-top"
          src="<%- listing.image.url %>"
          alt="<%= listing.title %> " 
          style="height: 20rem"
        />

        <div class="card-img-overlay"></div>

        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b> <br />
            &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
          </p>
        </div>
      </div>
    </a>

    <% } %>
  </div>
</body>
